
<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add new task</ion-title>
  </ion-toolbar>
</ion-header>
