<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <img src="../assets/kuva1.jpg" />
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-card-header>
       <ion-card-title>{{title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{text}}
      </ion-card-content>
        </ion-card>
</ion-content>
