<ion-header>
  <ion-toolbar>
    <ion-title>
      Backlog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($ev)" disabled="false">
    <ion-list-header>
      In Progress
    </ion-list-header>
    <ion-item *ngFor="let item of inprogress" routerLink="/task1/{{item.id}}">
      <ion-reorder slot="start"></ion-reorder>
      <!--
      <ion-avatar slot="start">
        <img src="../../assets/kuva1.jpg">
      </ion-avatar>
      -->
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.text}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of inprogress" routerLink="/task1/{{item.id}}">
      <ion-reorder slot="start"></ion-reorder>
      <!--
      <ion-avatar slot="start">
        <img src="../../assets/kuva1.jpg">
      </ion-avatar>
      -->
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.text}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of inprogress" routerLink="/task1/{{item.id}}"></ion-item>
    <ion-list-header>
        To Be Done
      </ion-list-header>
      <ion-item *ngFor="let item of todo" routerLink="/task1/{{item.id}}"></ion-item>
      <ion-list-header>
          Finished
        </ion-list-header>
        <ion-item *ngFor="let item of finished" routerLink="/task1/{{item.id}}"></ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" routerLink="/add" >
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
